@model AirlineManagementSystem.Models.FlightDetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-10 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Flight Information</h4>
                        <p class="card-description">

                        </p>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.ResFrom)</th>
                                        <th>@Html.DisplayNameFor(model => model.ResTo)</th>
                                        <th>@Html.DisplayNameFor(model => model.ResDepDate)</th>
                                        <th>@Html.DisplayNameFor(model => model.ResTime)</th>
                                        <th>@Html.DisplayNameFor(model => model.PlaneSeat)</th>
                                        <th>@Html.DisplayNameFor(model => model.ResDepDate)</th>
                                        <th>@Html.DisplayNameFor(model => model.ResPlaneType)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.ResFrom)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ResTo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ResDepDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ResTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.PlaneSeat)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ResTicketPrice)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ResPlaneType)
                                        </td>

                                    </tr>

                                    <tr>
                                    </tr>

                                </tbody>


                            </table>
                            <div style="margin:20px">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


